*{
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
    font-family: 'Roboto',cursive;
}
form{
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 40vh;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(0, 213, 89, .6);
    width: 40%;
    margin: auto;
    background: rgb(201, 110, 6);
}
.top{
    width: 100%;
    margin: auto;
    background: #fff;
}
.top p{
    display: block;
    text-align: center;
    font-size: 15px;
    letter-spacing: 6px;
    font-family: serif;
    padding: 10px;
}
.middle{
    width: 100%;
    margin: 10px auto;
    background: orangered;
    height: 50px;
}
.middle h1{
    text-align: center;
    font-size: 2rem;
    font-family: serif;
    text-transform: capitalize;
    padding: 10px;
}
.main{
   
    height: 100%;
}

input[type='text'], input[type='password']{
    width: 80%;
    margin-left: 30px;
    padding: 10px;
    color: orange;
    font-size: 1.3rem;
}
input[type='button']{
    margin: 5px;
    display: block;
    width: 85%;
    margin-left: 30px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all .5s;

}
input[type='button']:hover{
    background: grey;
} 
/* *****ions****** */


